* {
	margin:0;
	padding:0;
}

html,
body,
#thelist {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
}
@media (min-width: 768px) {
	html {
		font-size: 40px;
	}
}

body {
	background: #202020;
}

h1 {
	position: absolute;
	left: 0;
	bottom: 2rem;
	text-align: center;
	padding: 0 0.5rem;
}

h1 span {
	display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.1s;
}

h1 .small {
	font-size: 2rem;
	font-weight: 400;
	color: #3498DB;
	line-height: 1;
}

h1 .name {
	font-size: 4rem;
	color: #E74C3C;
	line-height: 2.9rem;
	font-weight: 700;
}

h1 .tag {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.25);
	font-size: 0.7rem;
	line-height: 1;
	text-indent: -0.1rem;

	border-top: 1px solid rgba(255, 255, 255, 0.15);
	margin: 1rem 0 0;
	padding: 0.6rem 0 0;
	text-transform: uppercase;
	letter-spacing: -0.02rem;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/**
 * Width of each child = 12.5rem;
 * Width of photo in each child = 12.5 * 2 = 25rem;
 * Total horizontal width = each_child_width * no_of_childs_space;
 */

#scroller {
	width: 130rem;
	height: 100%;
	float: left;
	padding: 0;
}

#scroller ul {
	width: 130rem;
	height: 100%;
	list-style: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	text-align: left;
}

.child {
	width: 12.5rem;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	/**/
	-webkit-user-select: none;
	cursor: -webkit-grab;
	/**/
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	transform: skew(-20deg);
}
.child:hover {
	z-index: 10;
	/**/
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.child:active {
	cursor: -webkit-grabbing;
}

.child .photo {
	width: 25rem;
	height: 100%;
	position: absolute;
	top: 0;
	left: -50%;
	background-position: center;
	background-size: cover;
	filter: opacity(0.5);
	/**/
	-webkit-transform: skew(+20deg) scale(1);
	-moz-transform: skew(+20deg) scale(1);
	transform: skew(+20deg) scale(1);
	/**/
	-webkit-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all 0.3s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.child:hover .photo {
	filter: opacity(1);
	/**/
	-webkit-transform: skew(+20deg) scale(1.05);
	-moz-transform: skew(+20deg) scale(1.05);
	transform: skew(+20deg) scale(1.05);
}

.child .photo:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.child:nth-child(odd) .photo:after {
	background: -moz-linear-gradient(45deg, rgba(26,188,156,1) 0%, rgba(241,196,15,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(26,188,156,1)), color-stop(100%,rgba(241,196,15,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(26,188,156,1) 0%,rgba(241,196,15,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(26,188,156,1) 0%,rgba(241,196,15,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(26,188,156,1) 0%,rgba(241,196,15,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(26,188,156,1) 0%,rgba(241,196,15,1) 100%); /* W3C */
}

.child:nth-child(even) .photo:after {
	background: -moz-linear-gradient(45deg, rgba(52,152,219,1) 0%, rgba(231,76,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(52,152,219,1)), color-stop(100%,rgba(231,76,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(52,152,219,1) 0%,rgba(231,76,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(52,152,219,1) 0%,rgba(231,76,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(52,152,219,1) 0%,rgba(231,76,60,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(52,152,219,1) 0%,rgba(231,76,60,1) 100%); /* W3C */
}

.iScrollHorizontalScrollbar {
	position: absolute;
	z-index: 9999;
	height: 0.5rem;
	left: 0.3rem;
	right: 0.3rem;
	bottom: 0.3rem;
	overflow: hidden;
	/**/
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	transform: skew(-20deg);
}

.iScrollIndicator {
	position: absolute;
	background: rgba(255, 255, 255,0.1);
	height: 0.5rem;
}

.iScrollIndicator:hover,
.iScrollIndicator:active {
	background: rgba(255, 255, 255,0.5);
}

.iScrollIndicator:hover {
	cursor: -webkit-grab;
}

.iScrollIndicator:active {
	cursor: -webkit-grabbing;
}



/**
 * CAN BE REMOVED FOR ACTUAL USAGE
 * ===============================
 * Ignore the following styles
 * They are purely for back linking
 * to the original description article
 */
.info {
    width: 7rem;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto !important;
    overflow: hidden;
}

.info .cell {
    padding: 2rem 0 0;
}

.info .logo {
    position: relative;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}

.info .logo img {
	width: 3.075rem;
	height: 2.15rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1.537rem;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.info .logo .nor {
	opacity: 1;
}

.info .logo .hov {
	opacity: 0;
}

.info .logo:hover .nor {
	opacity: 0;
}

.info .logo:hover .hov {
	opacity: 1;
}

.info .logo .title {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: rgba(255, 255, 255, 0.1);
	letter-spacing: 0;
	font-size: 0.5rem;
	font-weight: 300;
	display: block;
	padding: 3rem 0 0;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.info .logo:hover .title {
	padding: 2.5rem 0 0;
	color: rgba(255, 255, 255, 0.5);
}
